*{
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}

figcaption{
  font-style: italic;
}

p > span{
  border-style: double;
  border-color: firebrick;
  font-size: 18px;
}

span{
  font-size: 24px;
  font-family: Courier;
}

.headerFlex{
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: black;
  background-color: lightseagreen;
  border-width: 20px;
  border-radius: 40px;
  padding: 5px;
}

.headerTitle{
  flex: 25%;
  padding: 10px;
  display:flex;
  justify-content: center;
}

.headerRow{
  display: flex;
  flex-wrap: wrap;
  background-color: darkblue;
  padding: 5px;
}

.flexRow{
  display: flex;
  flex-wrap: wrap;
  background-color: darkblue;
  padding: 5px;
  border-style: solid;
  border-color: darkslategrey;
  border-width: 10px;
  border-radius: 15px;
}

.flexColumn{
  flex: 25%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footerRow{
  display: flex;
  flex-wrap: wrap;
  background-color: darkblue;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 20px;
  border-radius: 40px;
}

h1{
  font-size: 64px;
  font-family: Verdana;
}

h2{
  font-size: 30px;
  font-family: Georgia;
}

p{
  font-size: 24px;
  font-family: Courier;
}

.desc{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  border-style: solid;
  border-color: darkslategrey;
  border-width: 5px;
  border-radius: 10px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdownContent{
  display: none;
  position: absolute;
  background-color: floralwhite;
  min-width: 400px;
  box-shadow: lightgoldenrodyellow;
  padding: 15px;
  z-index: 1;
}

.dropdown:hover .dropdownContent{
  display: block;
}

@media screen and (max-width: 1045px){
  .flexColumn{
    flex: 50%;
  }
  .headerTitle{
    flex: 50%;
  }
  .headerRow{
    flex: 50%;
  }
  h1{
    font-size: 35px;
  }
}


@media screen and (max-width: 700px){
  .flexRow{
    flex-direction: column;
  }
  .headerRow{
    flex-direction: column;
  }
  h1{
    font-size: 25px;
  }
}
