// Pixel to rem converter
@function toRem($value) {
  $remValue: ($value / 16) + rem; 
  @return $remValue;
}

// Fonts
$titleFont: 'Alice', serif;   // regular 400
$buttonFont: 'Architects Daughter', cursive;   // regular 400
$baseFont: 'Barlow', sans-serif;   // extra-light 200 and regular 400
$smallHeaderFont: 'Comfortaa', cursive;   // bold 700
// Font Weights
$normalWeight: 400;
$smallWeight: 200;
// Margins and Paddings
$pMarginPadding: 0;
$buttonMarginPadding: toRem(20);
// Font Sizes
$homeFontSize: toRem(20);
$smallFontSize: toRem(13);
$titleFontSize: toRem(64);

/* React CSS */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Bootstrap core CSS*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* My CSS */

p, ul {
  font-family: $baseFont;
  font-weight: $normalWeight;
  margin: $pMarginPadding;
  padding: $pMarginPadding;
}

input {
  margin: toRem(5);
  border: toRem(5);
  border-radius: toRem(2);
}

h1 {
  font-family: $titleFont;
  font-weight: $normalWeight;
  font-size: $titleFontSize;
}

h2, h4 {
  font-family: $smallHeaderFont;
}

.homeLink {
  font-family: $titleFont;
  font-weight: $normalWeight;
  font-size: $homeFontSize;
  margin-left: toRem(8);
}

.url, .infoList {
  word-wrap: break-word;
}

.note {
  p {
  font-family: $baseFont;
  font-weight: $smallWeight;
  font-size: $smallFontSize;
  margin-top: toRem(3);
  }
}

button {
  font-family: $buttonFont;
  margin: $buttonMarginPadding;
  padding: $buttonMarginPadding;
}

.slidecontainer {
  margin-bottom: toRem(2);
}

label {
  font-family: $baseFont;
  font-weight: $normalWeight;
}