$titleFont: 'Alice', serif;   // regular 400
$buttonFont: 'Architects Daughter', cursive;   // regular 400
$baseFont: 'Barlow', sans-serif;   // extra-light 200 and regular 400
$smallHeaderFont: 'Comfortaa', cursive;   // bold 700
$pMarginPadding: 0px;
$buttonMarginPadding: 20px;

/* React CSS */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Bootstrap core CSS*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* My CSS */

p, ul {
  font-family: $baseFont;
  font-weight: 400;
  margin: $pMarginPadding;
  padding: $pMarginPadding;
}

input {
  margin: 5px;
  border: 5px;
  border-radius: 2px;
}

h1 {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 64px;
}

h2, h4 {
  font-family: $smallHeaderFont;
}

.homeLink {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 20px;
  margin-left: 8px;
}

.url, .infoList {
  word-wrap: break-word;
}

.note > p {
  font-family: $baseFont;
  font-weight: 200;
  font-size: 13px;
  margin-top: 3px;
}

button {
  font-family: $buttonFont;
  margin: $buttonMarginPadding;
  padding: $buttonMarginPadding;
}

.slidecontainer {
  margin-bottom: 2px;
}

label {
  font-family: $baseFont;
  font-weight: 400;
}